In [4]:
import pandas as pd
import numpy as np

In [5]:
data=pd.read_csv("Your dataset file")

In [6]:
df=pd.read_csv("Your dataset file")
df.head(1)

,BROKERTITLE,TYPE,PRICE,BEDS,BATH,PROPERTYSQFT,ADDRESS,STATE,MAIN_ADDRESS,ADMINISTRATIVE_AREA_LEVEL_2,LOCALITY,SUBLOCALITY,STREET_NAME,LONG_NAME,FORMATTED_ADDRESS,LATITUDE,LONGITUDE
0,Brokered by Douglas Elliman -111 Fifth Ave,Condo for sale,315000,2,2.0,1400.0,2 E 55th St Unit 803,"New York, NY 10022","2 E 55th St Unit 803New York, NY 10022",New York County,New York,Manhattan,East 55th Street,Regis Residence,"Regis Residence, 2 E 55th St #803, New York, N...",40.761255,-73.974483

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4801 entries, 0 to 4800
Data columns (total 17 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   BROKERTITLE                  4801 non-null   object
 1   TYPE                         4801 non-null   object
 2   PRICE                        4801 non-null   int64
 3   BEDS                         4801 non-null   int64
 4   BATH                         4801 non-null   float64
 5   PROPERTYSQFT                 4801 non-null   float64
 6   ADDRESS                      4801 non-null   object
 7   STATE                        4801 non-null   object
 8   MAIN_ADDRESS                 4801 non-null   object
 9   ADMINISTRATIVE_AREA_LEVEL_2  4801 non-null   object
 10  LOCALITY                     4801 non-null   object
 11  SUBLOCALITY                  4801 non-null   object
 12  STREET_NAME                  4801 non-null   object
 13  LONG_NAME                    4801 non-null   object
 14  FORMATTED_ADDRESS            4801 non-null   object
 15  LATITUDE                     4801 non-null   float64
 16  LONGITUDE                    4801 non-null   float64
dtypes: float64(4), int64(2), object(11)
memory usage: 637.8+ KB

In [8]:
df.isnull().sum()

BROKERTITLE                    0
TYPE                           0
PRICE                          0
BEDS                           0
BATH                           0
PROPERTYSQFT                   0
ADDRESS                        0
STATE                          0
MAIN_ADDRESS                   0
ADMINISTRATIVE_AREA_LEVEL_2    0
LOCALITY                       0
SUBLOCALITY                    0
STREET_NAME                    0
LONG_NAME                      0
FORMATTED_ADDRESS              0
LATITUDE                       0
LONGITUDE                      0
dtype: int64

In [9]:
'''
state
type
price
beds
bath
property SQFT
formatted address
'''

'\nstate\ntype\nprice\nbeds\nbath\nproperty SQFT\nformatted address\n'

In [10]:
df=df[['STATE','TYPE','PRICE','BEDS','BATH','PROPERTYSQFT','FORMATTED_ADDRESS']]

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4801 entries, 0 to 4800
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   STATE              4801 non-null   object
 1   TYPE               4801 non-null   object
 2   PRICE              4801 non-null   int64
 3   BEDS               4801 non-null   int64
 4   BATH               4801 non-null   float64
 5   PROPERTYSQFT       4801 non-null   float64
 6   FORMATTED_ADDRESS  4801 non-null   object
dtypes: float64(2), int64(2), object(3)
memory usage: 262.7+ KB

In [12]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df['TYPE']=le.fit_transform(df['TYPE'])

In [13]:
df['FORMATTED_ADDRESS']=df['FORMATTED_ADDRESS'].apply(lambda x:x.split(','))

In [14]:
df['FORMATTED_ADDRESS']=df['FORMATTED_ADDRESS'].apply(lambda x:[i.replace(" ","")for i in x])

In [15]:
df

,STATE,TYPE,PRICE,BEDS,BATH,PROPERTYSQFT,FORMATTED_ADDRESS
0,"New York, NY 10022",2,315000,2,2.000000,1400.000000,"[RegisResidence, 2E55thSt#803, NewYork, NY1002..."
1,"New York, NY 10019",2,195000000,7,10.000000,17545.000000,"[217W57thSt, NewYork, NY10019, USA]"
2,"Staten Island, NY 10312",7,260000,4,2.000000,2015.000000,"[620SinclairAve, StatenIsland, NY10312, USA]"
3,"Manhattan, NY 10022",2,69000,3,1.000000,445.000000,"[2E55thSt, NewYork, NY10022, USA]"
4,"New York, NY 10065",12,55000000,7,2.373861,14175.000000,"[5E64thSt, NewYork, NY10065, USA]"
...,...,...,...,...,...,...,...
4796,"Manhattan, NY 10075",0,599000,1,1.000000,2184.207862,"[222E80thSt#3a, NewYork, NY10075, USA]"
4797,"Rego Park, NY 11374",0,245000,1,1.000000,2184.207862,"[97-4062ndDr, RegoPark, NY11374, USA]"
4798,"New York, NY 10011",0,1275000,1,1.000000,2184.207862,"[427W21stSt, NewYork, NY10011, USA]"
4799,"Elmhurst, NY 11373",2,598125,2,1.000000,655.000000,"[91-23CoronaAve.#4b, Flushing, NY11373, USA]"
4800,"Brooklyn, NY 11224",0,349000,1,1.000000,750.000000,"[460NeptuneAve#14a, Brooklyn, NY11224, USA]"

In [16]:
df['FORMATTED_ADDRESS']=df['FORMATTED_ADDRESS'].apply(lambda x:" ".join(x))

In [17]:
import re
df['FORMATTED_ADDRESS']=df['FORMATTED_ADDRESS'].apply(lambda x: re.sub(r'[^a-zA-Z0-9\s]', '', x))

In [18]:
df['FORMATTED_ADDRESS']=df['FORMATTED_ADDRESS'].apply(lambda x: x.lower())

In [19]:
df

,STATE,TYPE,PRICE,BEDS,BATH,PROPERTYSQFT,FORMATTED_ADDRESS
0,"New York, NY 10022",2,315000,2,2.000000,1400.000000,regisresidence 2e55thst803 newyork ny10022 usa
1,"New York, NY 10019",2,195000000,7,10.000000,17545.000000,217w57thst newyork ny10019 usa
2,"Staten Island, NY 10312",7,260000,4,2.000000,2015.000000,620sinclairave statenisland ny10312 usa
3,"Manhattan, NY 10022",2,69000,3,1.000000,445.000000,2e55thst newyork ny10022 usa
4,"New York, NY 10065",12,55000000,7,2.373861,14175.000000,5e64thst newyork ny10065 usa
...,...,...,...,...,...,...,...
4796,"Manhattan, NY 10075",0,599000,1,1.000000,2184.207862,222e80thst3a newyork ny10075 usa
4797,"Rego Park, NY 11374",0,245000,1,1.000000,2184.207862,974062nddr regopark ny11374 usa
4798,"New York, NY 10011",0,1275000,1,1.000000,2184.207862,427w21stst newyork ny10011 usa
4799,"Elmhurst, NY 11373",2,598125,2,1.000000,655.000000,9123coronaave4b flushing ny11373 usa
4800,"Brooklyn, NY 11224",0,349000,1,1.000000,750.000000,460neptuneave14a brooklyn ny11224 usa

In [20]:
from sklearn.feature_extraction.text import TfidfVectorizer

vectorizer = TfidfVectorizer()

address_vector = vectorizer.fit_transform(df['FORMATTED_ADDRESS']).toarray()

address_vector

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [21]:
vectorizer.get_feature_names_out()

array(['10003205thpl', '1000569thave', '1000cloverd5b', ..., 'whitestone',
       'woodhaven', 'woodside'], dtype=object)

In [22]:
df['STATE']=df['STATE'].apply(lambda x: x.split(',')[0])

In [23]:
df['STATE']=le.fit_transform(df['STATE'])

In [24]:
df.head(1)

,STATE,TYPE,PRICE,BEDS,BATH,PROPERTYSQFT,FORMATTED_ADDRESS
0,46,2,315000,2,2.0,1400.0,regisresidence 2e55thst803 newyork ny10022 usa

In [25]:
from sklearn.preprocessing import MinMaxScaler
ms=MinMaxScaler()
df[['PRICE','PROPERTYSQFT','BEDS','BATH']]=ms.fit_transform(df[['PRICE','PROPERTYSQFT','BEDS','BATH']])

In [26]:
import tensorflow as tf
from tensorflow.keras.models import Model
from tensorflow.keras.layers import Input, Embedding, Flatten, Dense, Concatenate, Dropout

In [27]:
user_input_income = Input(shape=(1,), name='user_income')
user_input_state = Input(shape=(1,), name='user_state')
housing_input_beds = Input(shape=(1,), name='housing_beds')
housing_input_baths = Input(shape=(1,), name='housing_baths')

In [28]:
concat = Concatenate()([user_input_income, user_input_state,
                        housing_input_beds,housing_input_baths])

In [29]:
dense_1 = Dense(128, activation='relu')(concat)
dense_2 = Dense(64, activation='relu')(dense_1)
dense_3 = Dense(32, activation='relu')(dense_2)
output = Dense(1, activation='sigmoid')(dense_3)

In [30]:
model = Model([user_input_income, user_input_state,
                        housing_input_beds,housing_input_baths], output)

In [31]:
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

# Save the model
model.save(r"C:\Users\shahzaib sheikh\OneDrive\Documents\Desktop\Shahzaib\Ai project\new_model.h5")

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

In [32]:
model.summary()

Model: "functional_1"

┏━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━┓
┃ Layer (type)        ┃ Output Shape      ┃    Param # ┃ Connected to      ┃
┡━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━┩
│ user_income         │ (None, 1)         │          0 │ -                 │
│ (InputLayer)        │                   │            │                   │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ user_state          │ (None, 1)         │          0 │ -                 │
│ (InputLayer)        │                   │            │                   │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ housing_beds        │ (None, 1)         │          0 │ -                 │
│ (InputLayer)        │                   │            │                   │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ housing_baths       │ (None, 1)         │          0 │ -                 │
│ (InputLayer)        │                   │            │                   │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ concatenate         │ (None, 4)         │          0 │ user_income[0][0… │
│ (Concatenate)       │                   │            │ user_state[0][0], │
│                     │                   │            │ housing_beds[0][… │
│                     │                   │            │ housing_baths[0]… │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ dense (Dense)       │ (None, 128)       │        640 │ concatenate[0][0] │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ dense_1 (Dense)     │ (None, 64)        │      8,256 │ dense[0][0]       │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ dense_2 (Dense)     │ (None, 32)        │      2,080 │ dense_1[0][0]     │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ dense_3 (Dense)     │ (None, 1)         │         33 │ dense_2[0][0]     │
└─────────────────────┴───────────────────┴────────────┴───────────────────┘

 Total params: 11,009 (43.00 KB)

 Trainable params: 11,009 (43.00 KB)

 Non-trainable params: 0 (0.00 B)

In [33]:
df

,STATE,TYPE,PRICE,BEDS,BATH,PROPERTYSQFT,FORMATTED_ADDRESS
0,46,2,0.000146,0.020408,0.040000,0.017916,regisresidence 2e55thst803 newyork ny10022 usa
1,46,2,0.090803,0.122449,0.200000,0.265140,217w57thst newyork ny10019 usa
2,65,7,0.000120,0.061224,0.040000,0.027333,620sinclairave statenisland ny10312 usa
3,42,2,0.000031,0.040816,0.020000,0.003292,2e55thst newyork ny10022 usa
4,46,12,0.025610,0.122449,0.047477,0.213536,5e64thst newyork ny10065 usa
...,...,...,...,...,...,...,...
4796,42,0,0.000278,0.000000,0.020000,0.029924,222e80thst3a newyork ny10075 usa
4797,55,0,0.000113,0.000000,0.020000,0.029924,974062nddr regopark ny11374 usa
4798,46,0,0.000593,0.000000,0.020000,0.029924,427w21stst newyork ny10011 usa
4799,23,2,0.000277,0.020408,0.020000,0.006508,9123coronaave4b flushing ny11373 usa
4800,11,0,0.000161,0.000000,0.020000,0.007963,460neptuneave14a brooklyn ny11224 usa

In [38]:
user_example = df.iloc[0]  # User 1

print(user_example)

user_input = [np.array([user_example['PRICE']]), np.array([user_example['STATE']]),
              np.array([user_example['BEDS']]), np.array([user_example['BATH']])
              ]

prediction = model.predict(user_input)
print(f"Match prediction for user 1 and housing 1: {prediction[0][0]}")

STATE                                                            46
TYPE                                                              2
PRICE                                                      0.000146
BEDS                                                       0.020408
BATH                                                           0.04
PROPERTYSQFT                                               0.017916
FORMATTED_ADDRESS    regisresidence 2e55thst803 newyork ny10022 usa
match_score                                                0.682251
Name: 0, dtype: object
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 206ms/step
Match prediction for user 1 and housing 1: 0.6822510361671448

In [35]:
user_input_price = np.array([user_example['PRICE']] * len(df))
user_input_state = np.array([user_example['STATE']] * len(df))
user_input_beds = np.array([user_example['BEDS']] * len(df))
user_input_baths = np.array([user_example['BATH']] * len(df))


predictions = model.predict([user_input_price, user_input_state, user_input_beds, user_input_baths
                             ])

df['match_score'] = predictions

top_10_recommendations = df.sort_values(by='match_score', ascending=False).head(10)

for i, row in top_10_recommendations.iterrows():
    print(f"Recommendation {i+1}: Address: {row['FORMATTED_ADDRESS']}, Price: {row['PRICE']}, Beds: {row['BEDS']}, Baths: {row['BATH']}, Match Score: {row['match_score']:.4f}")

151/151 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step
Recommendation 4801: Address: 460neptuneave14a brooklyn ny11224 usa, Price: 0.00016135461748566972, Beds: 0.0, Baths: 0.02, Match Score: 0.6823
Recommendation 3208: Address: 3533rdst5b brooklyn ny11215 usa, Price: 0.0010465777531319736, Beds: 0.04081632653061225, Baths: 0.04, Match Score: 0.6823
Recommendation 3206: Address: 37douglasrd statenisland ny10304 usa, Price: 0.0006455497865782666, Beds: 0.10204081632653061, Baths: 0.08, Match Score: 0.6823
Recommendation 3205: Address: 10355thave4b newyork ny10028 usa, Price: 0.0010000115702994484, Beds: 0.02040816326530612, Baths: 0.04, Match Score: 0.6823
Recommendation 3204: Address: 74macdougalst newyork ny10012 usa, Price: 0.0032561431285352935, Beds: 0.10204081632653061, Baths: 0.1, Match Score: 0.6823
Recommendation 3203: Address: 220congressst4d brooklyn ny11201 usa, Price: 0.00033411515579433816, Beds: 0.0, Baths: 0.02, Match Score: 0.6823
Recommendation 3202: Address: 994063rdrd5a regopark ny11374 usa, Price: 8.032945935707589e-05, Beds: 0.04081632653061225, Baths: 0.02, Match Score: 0.6823
Recommendation 3201: Address: 2601henryhudsonpkwyw bronx ny10463 usa, Price: 0.00011478843465314453, Beds: 0.02040816326530612, Baths: 0.02, Match Score: 0.6823
Recommendation 3200: Address: 2475w16thst12h brooklyn ny11214 usa, Price: 0.00018463770890193233, Beds: 0.04081632653061225, Baths: 0.04, Match Score: 0.6823
Recommendation 3199: Address: 16241powellscoveblvdapt2m whitestone ny11357 usa, Price: 0.0002086192930606828, Beds: 0.02040816326530612, Baths: 0.02, Match Score: 0.6823

In [36]:
from sklearn.metrics.pairwise import cosine_similarity

similarity=cosine_similarity(address_vector)

In [37]:
similarity[6]

array([0.04273156, 0.05429138, 0.00842136, ..., 0.05429138, 0.00814006,
       0.00826915])